.timer {
  font-size: 6rem;
  font-weight: bold;
}

.buttons button {
  font-size: 1.5rem;
  width: 150px;
}


.light-mode {
  background-color: #fff;
  color: #000;
}

.dark-mode {
  background-color: #000;
  color: #fff;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pomodoro-icon {
  height: 2rem;
  margin-right: 0.5rem;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 1rem;
}

.cycle {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}